<h1>Sign up</h1>

<div class+"moron">
  <%= simple_form_for @user do |f| %>
    <%= f.input :name, placeholder: "John Smith" %>
    <%= f.input :username %>
    <%= f.input :email %>
    <%= f.input :password %>
    <%= f.input :password_confirmation %>
    <%= f.input :subscription_plan, as: :select, collection: [
      ['Basic Subscription - $10/month','basic'],
      ['Pro Subscription - $20/month','pro']
    ], include_blank: false %>
    <%= f.button :submit, "Sign up"  %>
  <% end %>
</div>
