<!DOCTYPE html>
<html>
  <head>
    <title>Source</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if flash[:success].present? %>
    <div class="flash">
      <%= flash[:success] %>
    </div>
    <% end %>
    <header>
      <nav>
        <%= @current_user.name %>
      </nav>
    </header>
    <main>
      <%= yield %>
    </main>
  </body>
</html>
